@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 224 71.4% 4.1%;
		--radius: 0.5rem;
	}

	.dark {
		/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left, #3ab5b0, #3d99be, #56317a);

		--background: 189 33.15% 3.76%;
		--foreground: 189 5.1% 97.35%;

		--muted: 189 25.5% 14.1%;
		--muted-foreground: 189 5.1% 54.7%;

		--popover: 189 54.8% 6.109999999999999%;
		--popover-foreground: 189 5.1% 97.35%;

		--card: 189 54.8% 6.109999999999999%;
		--card-foreground: 189 5.1% 97.35%;

		--border: 189 25.5% 14.1%;
		--input: 189 25.5% 14.1%;

		--primary: 189 51% 47%;
		--primary-foreground: 189 5.1% 4.699999999999999%;

		--secondary: 189 25.5% 14.1%;
		--secondary-foreground: 189 5.1% 97.35%;

		--accent: 189 25.5% 14.1%;
		--accent-foreground: 189 5.1% 97.35%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 189 5.1% 97.35%;

		--ring: 189 51% 47%;
	}
}

@layer components {
	.bg-gradient {
		background: var(--gradient);
	}
}

@layer base {
	* {
		@apply border-border scroll-smooth;
	}
	body,
	html {
		@apply min-h-full;
	}
	body {
		@apply bg-background text-foreground flex flex-col;
	}
}
