@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--primary: 188 48.5% 25.5%;
		--primary-foreground: 188 9.7% 99.25%;

		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 224 71.4% 4.1%;
		--radius: 0.5rem;
	}

	.dark {
		/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: #b2fefa;

		--background: 188 63.05% 6.8%;
		--foreground: 188 9.7% 99.25%;

		--muted: 188 48.5% 25.5%;
		--muted-foreground: 188 9.7% 58.5%;

		--popover: 188 45.6% 11.049999999999999%;
		--popover-foreground: 188 9.7% 99.25%;

		--card: 188 45.6% 11.049999999999999%;
		--card-foreground: 188 9.7% 99.25%;

		--border: 188 48.5% 25.5%;
		--input: 188 48.5% 25.5%;

		--primary: 188 97% 85%;
		--primary-foreground: 188 9.7% 8.5%;

		--secondary: 188 48.5% 25.5%;
		--secondary-foreground: 188 9.7% 99.25%;

		--accent: 188 48.5% 25.5%;
		--accent-foreground: 188 9.7% 99.25%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 188 9.7% 99.25%;

		--ring: 188 97% 85%;
	}
}

@layer components {
	.bg-gradient {
		background: var(--gradient);
	}
}

@layer base {
	* {
		@apply border-border scroll-smooth;
	}
	body,
	html {
		@apply min-h-full;
	}
	body {
		@apply bg-background text-foreground flex flex-col;
	}
}
